<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<% present @user do |presenter| %>
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>A user is asking for help!</h2>
  <div>This is what we know about them:</div>
  <ul>
    <%= presenter.user_property_list %>


    <% if @user.is_special_group %>
    <li><%= "Special group: #{@user.special_group.name_id}" %></li>
    <% end %>
    <% if @user.state_id? %>
    <li><%= "State: #{@user.state.name}" %></li>
    <% end %>
  </ul>
  <h3><%= "This is the account type they asked about: #{@account_type.name}" %></h3>

</body>
</html>
<% end %>