<div class='account-feature-choice'><%= yield(:selection_copy) %></div>

<div class="navbar navbar-fixed-bottom">
  <div class='row'>
    <div class='col-xs-6'>
      <%= link_to t('demo.v1.select_yes'), yield(:yes_link), class: 'btn btn-success btn-block' %>
    </div>
    <div class='col-xs-6'>
    <%= link_to t('demo.v1.select_no'), yield(:no_link), class: 'btn btn-danger btn-block' %>
    </div>
  </div>

</div>