<div class='table-responsive' >
  <table class='table table-striped table-condensed row'>
    <thead>
      <tr>
        <th class='col-xs-4'>Stage</th>
        <th  class='col-xs-7'># People</th>
        <th class='col-xs-1'>% drop from last stage</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'admin/metrics_row', collection: @metrics, as: :metric, locals: { presenter: presenter, metrics: @metrics} %>
    </tbody>
  </table>
</div>