<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<tr>
<%= content_tag :td, metric.name, class: 'metric-name' %>
<td>
<%= presenter.metric_as_prog_bar(metric) %>
</td>
<%= content_tag :td, presenter.metric_retention(metric) %>

</tr>