<div class='table-responsive' >
  <table class='table table-striped table-condensed row' id='site-metrics-table'>
    <thead>
      <tr>
        <th class='col-xs-4'>Stage</th>
        <th  class='col-xs-7'># People</th>
        <th class='col-xs-1'>% retention from last stage</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'admin/metrics_row', collection: funnel.metrics, as: :metric, locals: { presenter: presenter} %>
    </tbody>
  </table>
</div>