<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<% present @funnel do |presenter| %>
<% provide(:heading,  'Admin') %>
<% provide(:page_title, 'Admin') %>
<h2>Funnel</h2>
<%= presenter.metrics_table %>



<% end %>


