<% present @metrics, MetricsPresenter do |presenter| %>
<% provide(:heading,  'Admin') %>
<% provide(:page_title, 'Admin') %>
<h2>Funnel</h2>
<div class='table-responsive' >
<%= presenter.metrics_table %>
</div>
<% end %>


