<%= presenter.geolocated_result_link item, {class: 'list-group-item other-banking-option bg-gray border-light padding-less' } do %>
<div class="row">
  <div class="col-xs-8">
    <div class="bold color-accent">
      <%= presenter.geolocated_option_title(item) %>
    </div>
    <div class="color-text">
      <%= presenter.geolocated_option_street(item) %>
    </div>
  </div>
  <div class="col-xs-4 clearfix">
    <%= presenter.geolocated_distance_from_user(item, :span, {class: 'badge pull-right'}) %>
  </div>
</div>
<% end %>
