
<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<div class='other-branches'>
  <div class="heading bg-gray-darker padding-less">
  <%= presenter.geolocated_results_heading({class: "color-gray caps bold"}) %>
  <%= presenter.geolocated_results_subheading({class: ""}) %>
  </div>
  <%= render partial: "account_finder/account_type/geolocated_result_list_item", collection: @results, as: :item, locals: {presenter: presenter} %>
</div>
