<div class='other-branches'>
  <div class="heading">
  <%= presenter.geolocated_results_heading %>
  <%= presenter.geolocated_results_subheading %>
  </div>
  <%= render partial: "account_finder/account_type/geolocated_result_list_item", collection: @results, as: :item, locals: {presenter: presenter} %>
</div>
