<div class='recommended_option'>
  <%= presenter.recommended_heading %>
  <%= presenter.recommended_account_name %>
  <%= presenter.recommended_available_at({class: 'recommended-avail-at'}, {class: 'recommend-branch-name'})%>
  <%= presenter.recommended_branch_address %>
</div>
