<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<div class='why-we-chose'>
  <%= presenter.why_chosen_heading %>
  <%= presenter.why_chosen_description %>
</div>
