
<% @no_header = true %>
<% present @account_type do |presenter| %>
<% provide(:heading,  'Finding a Student Account') %>
<% provide(:page_title, 'Finding a Student Account') %>
<h3>Free Student Accounts available near you</h3>
<%= presenter.google_maps_tag_for_account_type_for_user(@user) %>

<% end %>