<%= content_tag :div, t('.intro_text') %>
<ul>
<li><%= link_to t('.yes_cta'),demo_path('v1','order_chexsystems') %></li>
<li><%= link_to t('.maybe_cta'),demo_path('v1','dead_end') %></li>
<li><%= link_to t('.no_cta'),demo_path('v1','dead_end') %></li>

</ul>