<h2>Finding the right bank account</h2>
<div class='intro'>
<p>
Great! First, tell us what you want to do with your bank account so we can search for the perfect one for you.
</p>
<p>This step should take about 2 minutes.</p>
</div>
<div class='button'>
<%= link_to 'Next' ,  demo_path('v1','select_feature::write_checks') %>
</div>