<% provide(:heading, t('.heading')) %>
<div class='intro'>
  <p>
    <%= t('.intro_text') %>
  </p>
  <p><%= t('.task_duration')%></p>
</div>


<div class="navbar navbar-fixed-bottom">
  <div class='row'>
  <div class='col-xs-12'>
      <%= link_to t('action_next') ,  demo_path('v1','select_feature::write_checks'), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</div>