<% provide(:heading, t('.intro_text')) %>
<ul class='action-links'>
<li><%= link_to t('.no_attempt'),demo_path('v1','ssn_confirmation') %></li>
<li><%= link_to t('.yes_fail'),demo_path('v1','chexsystems_ordering_intro') %></li>
<li><%= link_to t('.yes_success'),demo_path('v1','enter_zip') %></li>

</ul>