<% provide(:heading, t('.intro_text')) %>
<ul class='action-links'>
<li><%= link_to t('.ssn_yes'),demo_path('v1','enter_zip') %></li>
<li><%= link_to t('.ssn_no_but'),demo_path('v1','dead_end') %></li>
<li><%= link_to t('.ssn_no'),demo_path('v1','dead_end') %></li>

</ul>