<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<div class="">
  <%= link_to(t("forms.actions.start_over"), account_finder_start_path, {class: 'btn btn-small btn-default btn-block'}) %>
</div>
