<h1>Rebank Me</h1>
<div class='button'><%= link_to 'Demo 1 (all the questions)', demo_path('v1','start') %></div>
<div class='button'><%= link_to 'Demo 2 (bucket me fast)', demo_path('v2','start') %></div>
