<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<% present bank_account do |presenter| %>
<li><%= presenter.name_tag %>
<%= presenter.edit_tag %>
<%= presenter.delete_tag %>
</li>
<% end %>