<% provide(:heading, t('demo.v1.note_concerns.intro_text')) %>
<% provide(:next_section_link, demo_path('v1','bank_account_status')) %>
<div class='account-feature-choice'><%= yield(:selection_copy) %></div>

<%= render 'demo/v1/yes_no_skip' %>
