<% present @account_type do |presenter| %>
<% provide(:heading,  presenter.page_heading) %>
<% provide(:page_title, presenter.page_title) %>

<%= presenter.account_type_overview %>
<%= presenter.why_account_type_chosen_for @user %>
<div class='account-finder-drilldown'>
<%= link_to "Find me the right #{@account_type.name}" , account_finder_path(@user), id: 'account-finder-drilldown-button', class: 'btn btn-primary' %>
</div>
<%= presenter.start_over_button %>
<% end %>