<% present @account_type do |presenter| %>
<% provide(:heading,  presenter.page_heading) %>
<% provide(:page_title, presenter.page_title) %>

<%= presenter.account_type_overview %>
<div class='why-we-chose'>
<h3>Why?</h3>
People who have walked away from a bank account should generally consider going for a second chance or safe account, but in your case, because....
</div>
<div class='account-finder-drilldown'>
<%= link_to "Find me the right #{@account_type.name_id}" , '#', id: 'account-finder-drilldown-button', class: 'btn btn-primary' %>
</div>
<%= presenter.start_over_button %>
<% end %>