<% present @user, AccountTypeFinderPresenter do |presenter| %>
<% provide(:heading, t('.title')) %>
<% provide(:page_title, t('.title')) %>
<% @no_start_over = true %>
<div class='row'>
<%= presenter.body_copy('account_finder.start', class: 'col-xs-12') %>
</div>
<%= form_for(@user, url: account_type_finder_path) do |f| %>
<div class="form-group row">
  <div class="input-group col-xs-8 col-xs-offset-2">
    <%= f.label :zipcode,t('forms.labels.enter_zipcode'),  class: 'sr-only' %>
    <%= f.text_field :zipcode,  {placeholder: t('forms.labels.enter_zipcode'), class: 'form-control enter-zip'} %>
    <span class="input-group-btn"><button type="submit" name="commit" id='submit_button' class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button></span>
  </div>
</div>
<% end %>

<% end %>
