// Place all the styles related to the Demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$offWhite: #f7f7f7;
$lightGrey: #DBDBDB;
$medGrey: #808080;
$darkGrey: #666666;
$default-font: 'source-sans-pro';

$app-bg-color: #fff;
$base-font-color: #999;
$accent-color: #4ed8d8;
$link-hover-color: $base-font-color;
$link-color: $base-font-color;

$default-btn-color: #FFFFFF;
$default-btn-color-hover:#EAEAEA;

$primary-btn-color: $accent-color;
$primary-btn-color-hover:  #319994;

$no-btn-color: #FF1B00;
$no-btn-color-hover: #B71B00;

$yes-btn-color: #24BC2B;
$yes-btn-color-hover: #24782B;


@import "compass";

body{
  color: $base-font-color;
  background-color: $app-bg-color;
  font-size: 14px;
  line-height: 22px;
  font-family: $default-font, sans-serif;
  padding-top: 45px;
  padding-bottom: 0px;
  height: 100vh;
}


#nav {
  background: $accent-color;
  z-index: 100;
  @include single-box-shadow(#999, 0px, -1px, 10px, false, false)
}

.container{
  padding: 30px;
}

form{
  padding-top: 15px;
}
.form-control{
  border-width: 0px;
}

input, .form-control{
  color: $darkGrey;
  font-weight: bold;
  background: #e6e6e6;
  border: none;
  box-shadow: none !important;
  border-radius: 0px !important;
}

::-webkit-input-placeholder {
   text-transform: uppercase;
}

:-moz-placeholder { /* Firefox 18- */
   text-transform: uppercase;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-transform: uppercase;
}

:-ms-input-placeholder {
   text-transform: uppercase;
}

a{
  color: $link-color;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
  &.underline {
    text-decoration: underline;
  }
}

hr {
  margin: 0px;
}

.color-accent {
  color: $accent-color;
}

.color-text {
  color: $base-font-color;
}

.bg-accent {
  background: $accent-color;
}

.bg-gray {
  background: $offWhite;
}
.bg-gray-darker {
  background: $lightGrey;
}

.border-light {
  border: 1px solid #eeeeee;
}

.center-header {
  width: 130px;
}

.header_wrapper {
  border-bottom: 2px solid #e5e5e5;
}
.header_background {
  .header_wrapper {
    background: $offWhite;
    border-bottom: none;
  }
}

.content-padding {
  padding: 0px 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: $accent-color;
  text-transform: uppercase;
}

//lists

.list-group {
  .list-group-item {
    background: #f7f7f7;
    border-color: #efefef;
    list-style: disc inside none;
    display: list-item;
    padding: 15px;
    border-radius: 0px !important;
  }
}

// panels

.panel-default{
  border-color: none;
  .panel-body{
    color: $medGrey;
    padding: 10px;
    h3, h4{
      color: $app-bg-color;
    }
    h4{
      text-transform: uppercase;
      font-size: 12px;
    }
    ol {
      display: block;
      list-style: none;
      overflow: hidden;
      counter-reset: numList;
      padding: 0 0 0 26px;
    }
    ol li:before {
      counter-increment: numList;
      content: counter(numList);

      float: left;
      position: absolute;
      left: 40px;

      // font: bold 12px sans-serif;
      text-align: center;
      color: #ffa;
      line-height: 18px;

      width: 18px; height: 18px;
      background: $lightGrey;
      font-family: $default-font;

      -moz-border-radius: 999px;
      border-radius: 999px
    }
  }
}
//

// buttons
.btn{
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: normal;
  position: relative;
}

.btn-wide {
  padding: 6px 30px;
}

.btn-chevron {
  text-transform: none;
}

.btn-success {
  color: $base-font-color;
  background-color: $yes-btn-color;
  border-color: $yes-btn-color;
  &:hover,
  &:focus,
  &:active{
    background-color: $yes-btn-color-hover;
    border-color: $yes-btn-color-hover;
  }
}
.btn-danger {
  color: $app-bg-color;
  background-color: $no-btn-color;
  border-color: $no-btn-color;
  &:hover,
  &:focus,
  &:active{
    background-color: $no-btn-color-hover;
    border-color: $no-btn-color-hover;
  }
}
.btn-default {
  color: $accent-color;
  background-color: $default-btn-color;
  border-color: $default-btn-color;
  &:hover,
  &:focus,
  &:active{
    background-color: $default-btn-color-hover;
    border-color: $default-btn-color-hover;
  }
}
.btn-input {
  background: #e6e6e6;

}

.btn-primary {
  color: $app-bg-color;
  background-color: $primary-btn-color;
  border-color: $primary-btn-color;
  &:hover,
  &:focus,
  &:active{
    background-color: $primary-btn-color-hover;
    border-color: $primary-btn-color-hover;

  }
}
.btn-small {
  padding: 3px 7px;
  font-size: 12px;
}
//

// LISTS
ul{
  list-style-type: none;
  padding-left: 0px;
}

ul.action-links li{
  padding-bottom: 20px;
  background-image: url('right_arrow.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: right top;
  padding-right: 36px;
}
// END LISTS

// LOGO & HEADER
.header{
  margin-top: 30px;
}
.header-copy{
  padding-left: 0px;
}
.header-rebank{
}
.header-welcome{
  padding-top: 15px;
  line-height: 20px;
  color: $accent-color;
}

.header-image{
  margin-right: 2px;

  img {
    height: 60px;
  }
}

// END LOGO

// Stuff on the bottom

.navbar-fixed-bottom{
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 15px;
}

.navbar-fixed-bottom .row{
  padding-top: 15px;
}


// account selection

.account-choice-title{
  color: $darkGrey;
  text-transform: uppercase;
  font-size: 12px;
}

.page-bottom{
  padding-bottom: 10px;
}
