// Place all the styles related to the Demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$lightGrey: #DBDBDB;
$medGrey: #808080;
$darkGrey: #666666;
$default-font: 'source-sans-pro';

$app-bg-color: #4ED8D8;
$base-font-color: #fff;
$link-hover-color: $base-font-color;
$link-color: $base-font-color;

$default-btn-color: #FFFFFF;
$default-btn-color-hover:#EAEAEA;

$primary-btn-color: #3CAFAC;
$primary-btn-color-hover:  #319994;

$no-btn-color: #FF1B00;
$no-btn-color-hover: #B71B00;

$yes-btn-color: #24BC2B;
$yes-btn-color-hover: #24782B;







body{
  color: $base-font-color;
  background-color: $app-bg-color;
  font-size: 16px;
  font-family: $default-font, sans-serif;
}

#nav {
  background: $accent-color;
  z-index: 100;
}

#content {
  margin-top: 45px;
}

.container{
  padding: 30px;
}

form{
  padding-top: 40px;
}
.form-control{
  border-width: 0px;
}

a{
  color: $link-color;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}
// panels

.panel-default{
  border-color: none;
  .panel-body{
    color: $medGrey;
    padding: 10px;
    h3, h4{
      color: $app-bg-color;
    }
    h4{
      text-transform: uppercase;
      font-size: 12px;
    }
    ol {
      display: block;
      list-style: none;
      overflow: hidden;
      counter-reset: numList;
      padding: 0 0 0 26px;
    }
    ol li:before {
      counter-increment: numList;
      content: counter(numList);

      float: left;
      position: absolute;
      left: 40px;

      // font: bold 12px sans-serif;
      text-align: center;
      color: #ffa;
      line-height: 18px;

      width: 18px; height: 18px;
      background: $lightGrey;
      font-family: $default-font;

      -moz-border-radius: 999px;
      border-radius: 999px
    }
  }
}
//

// buttons
.btn{
  border-radius: 0px;
}

.btn-success {
  color: $base-font-color;
  background-color: $yes-btn-color;
  border-color: $yes-btn-color;
  &:hover,
  &:focus,
  &:active{
    background-color: $yes-btn-color-hover;
    border-color: $yes-btn-color-hover;
  }
}
.btn-danger {
  color: $base-font-color;
  background-color: $no-btn-color;
  border-color: $no-btn-color;
  &:hover,
  &:focus,
  &:active{
    background-color: $no-btn-color-hover;
    border-color: $no-btn-color-hover;
  }
}
.btn-default {
  color: $medGrey;
  background-color: $default-btn-color;
  border-color: $default-btn-color;
  &:hover,
  &:focus,
  &:active{
    background-color: $default-btn-color-hover;
    border-color: $default-btn-color-hover;
  }
}
.btn-primary {
  color: $base-font-color;
  background-color: $primary-btn-color;
  border-color: $primary-btn-color;
  &:hover,
  &:focus,
  &:active{
    background-color: $primary-btn-color-hover;
    border-color: $primary-btn-color-hover;

  }
}
//

// LISTS
ul{
  list-style-type: none;
  padding-left: 0px;
}

ul.action-links li{
  padding-bottom: 20px;
  background-image: url('right_arrow.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: right top;
  padding-right: 36px;
}
// END LISTS

// LOGO & HEADER
.header{

}
.header-copy{
  padding-left: 0px;
}
.header-rebank{
  text-transform: uppercase;
  font-size: 28px;
}
.header-welcome{
  font-size: 14px;
  padding-top: 38px;
}

.header-image{

}

// END LOGO

// Stuff on the bottom

.navbar-fixed-bottom{
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 15px;
}

.navbar-fixed-bottom .row{
  padding-top: 15px;
}

//

// zip code form
.enter-zip{
  text-transform: uppercase;
}
//

// account selection

.account-choice-title{
  color: $darkGrey;
  text-transform: uppercase;
  font-size: 12px;
}

.page-bottom{
  padding-bottom: 10px;
}



