<% unless try(:suppress_logo) %>
<div class='row header'>
  <div class='col-xs-2 header-image'><%= image_tag 'littlegiraffe.png' %></div>
  <div class='col-xs-8 header-copy'>
    <div class='header-welcome'>Welcome to</div>
    <div class='header-rebank'>Rebank me</div>
  </div>
</div>

<% end %>
<h2 class='page-heading'><%= yield(:heading) %></h2>

<hr/>
