<%
# (c) 2014 Blue Ridge Foundation New York
# authors: Paul Barnes-Hoggett, Dylan Butman
# This code is licensed under MIT license (see LICENSE.txt for details)
%>
<div id="nav" class="fixed top left clearfix full-width padding-less">
  <div class="padding-less padding-horiz">
    <div class="pull-left">
      <div class="font-mid caps color-white">
        Rebank Me
      </div>
    </div>
    <div class="pull-right">
      <%= render 'shared/start_over_button' unless @no_start_over %>
    </div>
  </div>
</div>
